---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="SHM9LZpu9tlcAKDFmVDSEpSQe", oauth_nonce="f56cd87c6003ec5ad0fa0467b52d85b9",
        oauth_signature="%2Fjiw0U3HhDCoOdj7wOHYi8suRKA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450372285", oauth_token="4585875734-J1xjpv4RVEHi9Tf9VBw3KMtA0AmiVlewrxRgj2u",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 17:11:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 82f8e8e7dfc4362785e9097666c2dea4
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1450372359'
      X-Response-Time:
      - '29'
      X-Transaction:
      - 935d8edb069340d4
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 16:57:46 +0000 2015","id":677533152420622336,"id_str":"677533152420622336","text":"Firs
        Tweet!","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\" rel=\"nofollow\"\u003eSlotaLocal\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":4585875734,"id_str":"4585875734","name":"John
        Slota","screen_name":"slota88","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Thu
        Dec 17 16:21:12 +0000 2015","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":true,"retweeted":false,"lang":"en"}]'
  recorded_at: Thu, 17 Dec 2015 17:11:25 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="SHM9LZpu9tlcAKDFmVDSEpSQe", oauth_nonce="b9a8f0dd630f13f55d43360af728d04e",
        oauth_signature="3oHBSmvln8xvjA702LgR79edgYo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450373822", oauth_token="4585875734-J1xjpv4RVEHi9Tf9VBw3KMtA0AmiVlewrxRgj2u",
        oauth_[...]
