---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="SHM9LZpu9tlcAKDFmVDSEpSQe", oauth_nonce="48745bfe21598cb3854e063dd7a8c053",
        oauth_signature="lEp0GkrZNRfddMAu5KZ%2Bh82zc%2FM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450332192", oauth_token="378211029-DfbDvspu3r5NsqNxrP3ZHpYQKAFouxKUvMyLwKJd",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 06:03:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6b6b8adb4bfb3601a1da88e3746b0fe0
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1450332234'
      X-Response-Time:
      - '34'
      X-Transaction:
      - 04fced91d242bec1
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":378211029,"id_str":"378211029","name":"John","screen_name":"Slotanator","location":"Boulder,
        CO","description":"Random thoughts, news and commentary with a bias towards
        freedom and skepticism","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":7,"friends_count":8,"listed_count":0,"created_at":"Thu
        Sep 22 20:38:34 +0000 2011","favourites_count":12,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":34,"lang":"en","status":{"created_at":"Thu
        Dec 17 02:47:19 +0000 2015","id":677319131960512513,"id_str":"677319131960512513","text":"yo
        tyler i just sent it to you breh","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\"
        rel=\"nofollow\"\u003eSlotaLocal\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":true,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2190091068\/Jail_bait_bait_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2190091068\/Jail_bait_bait_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 17 Dec 2015 06:03:12 GMT
recorded_with: VCR 3.0.0
